-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: AI_BASED_DPH
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_users`
--

DROP TABLE IF EXISTS `admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_users` (
  `user_id` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `module` varchar(50) NOT NULL,
  `hub_id` varchar(100) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'active',
  `district_name` varchar(255) DEFAULT NULL,
  `block_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_users`
--

LOCK TABLES `admin_users` WRITE;
/*!40000 ALTER TABLE `admin_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_approved_home_master`
--

DROP TABLE IF EXISTS `chlorination_approved_home_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_approved_home_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `approvedhome_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_approved_home_master`
--

LOCK TABLES `chlorination_approved_home_master` WRITE;
/*!40000 ALTER TABLE `chlorination_approved_home_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_approved_home_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_corporation_master`
--

DROP TABLE IF EXISTS `chlorination_corporation_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_corporation_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_id` varchar(100) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `corporation_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_corporation_master`
--

LOCK TABLES `chlorination_corporation_master` WRITE;
/*!40000 ALTER TABLE `chlorination_corporation_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_corporation_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_districts`
--

DROP TABLE IF EXISTS `chlorination_districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_districts` (
  `district_code` varchar(20) NOT NULL,
  `district_name` varchar(255) DEFAULT NULL,
  `hub_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`district_code`),
  UNIQUE KEY `district_name` (`district_name`),
  KEY `hub_id` (`hub_id`),
  CONSTRAINT `chlorination_districts_ibfk_1` FOREIGN KEY (`hub_id`) REFERENCES `chlorination_hubs` (`hub_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_districts`
--

LOCK TABLES `chlorination_districts` WRITE;
/*!40000 ALTER TABLE `chlorination_districts` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_educationalinstitution_master`
--

DROP TABLE IF EXISTS `chlorination_educationalinstitution_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_educationalinstitution_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `institution_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_educationalinstitution_master`
--

LOCK TABLES `chlorination_educationalinstitution_master` WRITE;
/*!40000 ALTER TABLE `chlorination_educationalinstitution_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_educationalinstitution_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_government_hospital_master`
--

DROP TABLE IF EXISTS `chlorination_government_hospital_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_government_hospital_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `hospital_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_government_hospital_master`
--

LOCK TABLES `chlorination_government_hospital_master` WRITE;
/*!40000 ALTER TABLE `chlorination_government_hospital_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_government_hospital_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_governmentinstitution_master`
--

DROP TABLE IF EXISTS `chlorination_governmentinstitution_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_governmentinstitution_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `institution_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_governmentinstitution_master`
--

LOCK TABLES `chlorination_governmentinstitution_master` WRITE;
/*!40000 ALTER TABLE `chlorination_governmentinstitution_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_governmentinstitution_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_govt_holiday`
--

DROP TABLE IF EXISTS `chlorination_govt_holiday`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_govt_holiday` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `holiday_name` varchar(100) NOT NULL,
  `date` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_govt_holiday`
--

LOCK TABLES `chlorination_govt_holiday` WRITE;
/*!40000 ALTER TABLE `chlorination_govt_holiday` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_govt_holiday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_hub_users`
--

DROP TABLE IF EXISTS `chlorination_hub_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_hub_users` (
  `user_id` varchar(50) DEFAULT NULL,
  `username` varchar(50) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `hashedPassword` varchar(255) DEFAULT NULL,
  `hub_id` varchar(50) DEFAULT NULL,
  `hub_name` varchar(100) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `module` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`email`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_hub_users`
--

LOCK TABLES `chlorination_hub_users` WRITE;
/*!40000 ALTER TABLE `chlorination_hub_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_hub_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_hubs`
--

DROP TABLE IF EXISTS `chlorination_hubs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_hubs` (
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) DEFAULT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`hub_id`),
  UNIQUE KEY `hub_name` (`hub_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_hubs`
--

LOCK TABLES `chlorination_hubs` WRITE;
/*!40000 ALTER TABLE `chlorination_hubs` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_hubs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_municipality_master`
--

DROP TABLE IF EXISTS `chlorination_municipality_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_municipality_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `municipality_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_municipality_master`
--

LOCK TABLES `chlorination_municipality_master` WRITE;
/*!40000 ALTER TABLE `chlorination_municipality_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_municipality_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_prison_master`
--

DROP TABLE IF EXISTS `chlorination_prison_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_prison_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `prison_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_prison_master`
--

LOCK TABLES `chlorination_prison_master` WRITE;
/*!40000 ALTER TABLE `chlorination_prison_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_prison_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_pwd_master`
--

DROP TABLE IF EXISTS `chlorination_pwd_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_pwd_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `pwd_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_pwd_master`
--

LOCK TABLES `chlorination_pwd_master` WRITE;
/*!40000 ALTER TABLE `chlorination_pwd_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_pwd_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_railway_station_master`
--

DROP TABLE IF EXISTS `chlorination_railway_station_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_railway_station_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `station_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_railway_station_master`
--

LOCK TABLES `chlorination_railway_station_master` WRITE;
/*!40000 ALTER TABLE `chlorination_railway_station_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_railway_station_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_sent_emails`
--

DROP TABLE IF EXISTS `chlorination_sent_emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_sent_emails` (
  `user_id` varchar(100) NOT NULL,
  `hub_id` varchar(100) NOT NULL,
  `from_date` date NOT NULL,
  `to_date` date NOT NULL,
  PRIMARY KEY (`user_id`,`hub_id`,`from_date`,`to_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_sent_emails`
--

LOCK TABLES `chlorination_sent_emails` WRITE;
/*!40000 ALTER TABLE `chlorination_sent_emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_sent_emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_templefestival_master`
--

DROP TABLE IF EXISTS `chlorination_templefestival_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_templefestival_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `temple_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_templefestival_master`
--

LOCK TABLES `chlorination_templefestival_master` WRITE;
/*!40000 ALTER TABLE `chlorination_templefestival_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_templefestival_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorination_townpanchayat_master`
--

DROP TABLE IF EXISTS `chlorination_townpanchayat_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorination_townpanchayat_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hub_id` varchar(100) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  `townpanchayat_name` varchar(255) NOT NULL,
  `latitude` varchar(100) DEFAULT NULL,
  `longitude` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorination_townpanchayat_master`
--

LOCK TABLES `chlorination_townpanchayat_master` WRITE;
/*!40000 ALTER TABLE `chlorination_townpanchayat_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorination_townpanchayat_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorine_data_collection`
--

DROP TABLE IF EXISTS `chlorine_data_collection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorine_data_collection` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ppm` float NOT NULL,
  `actualPPM` float DEFAULT NULL,
  `samplingPoint` varchar(100) NOT NULL,
  `image_path` text NOT NULL,
  `latitude` float NOT NULL,
  `longitude` float NOT NULL,
  `timestamp` datetime NOT NULL,
  `address` text NOT NULL,
  `hub_id` varchar(100) DEFAULT NULL,
  `hub_name` varchar(255) DEFAULT NULL,
  `user_id` varchar(100) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `address2` text DEFAULT NULL,
  `flag` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorine_data_collection`
--

LOCK TABLES `chlorine_data_collection` WRITE;
/*!40000 ALTER TABLE `chlorine_data_collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorine_data_collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chlorine_hud_data_collection`
--

DROP TABLE IF EXISTS `chlorine_hud_data_collection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chlorine_hud_data_collection` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ppm` float NOT NULL,
  `actualPPM` float DEFAULT NULL,
  `samplingPoint` varchar(100) NOT NULL,
  `image_path` text NOT NULL,
  `latitude` varchar(100) NOT NULL,
  `longitude` varchar(100) NOT NULL,
  `timestamp` datetime NOT NULL,
  `hud_id` varchar(100) NOT NULL,
  `hud_name` varchar(255) NOT NULL,
  `block_id` varchar(100) NOT NULL,
  `block_name` varchar(255) NOT NULL,
  `user_id` varchar(100) NOT NULL,
  `username` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chlorine_hud_data_collection`
--

LOCK TABLES `chlorine_hud_data_collection` WRITE;
/*!40000 ALTER TABLE `chlorine_hud_data_collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `chlorine_hud_data_collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datacollection`
--

DROP TABLE IF EXISTS `datacollection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `datacollection` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(50) DEFAULT NULL,
  `username` varchar(50) DEFAULT NULL,
  `district_name` varchar(100) DEFAULT NULL,
  `geolocation` text DEFAULT NULL,
  `areaType` varchar(50) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `time` time DEFAULT NULL,
  `address` text DEFAULT NULL,
  `user_geolocation` text DEFAULT NULL,
  `image_base64` longtext DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datacollection`
--

LOCK TABLES `datacollection` WRITE;
/*!40000 ALTER TABLE `datacollection` DISABLE KEYS */;
/*!40000 ALTER TABLE `datacollection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `district_officer_table`
--

DROP TABLE IF EXISTS `district_officer_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `district_officer_table` (
  `user_id` varchar(50) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `username` varchar(50) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `district_code` varchar(50) DEFAULT NULL,
  `district_name` varchar(100) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `module` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`email`),
  UNIQUE KEY `username` (`username`),
  KEY `district_code` (`district_code`),
  CONSTRAINT `district_officer_table_ibfk_1` FOREIGN KEY (`district_code`) REFERENCES `mosquito_district_master` (`district_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `district_officer_table`
--

LOCK TABLES `district_officer_table` WRITE;
/*!40000 ALTER TABLE `district_officer_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `district_officer_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `district_table`
--

/*DROP TABLE IF EXISTS `district_table`;*/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `district_table` (
  `district_code` varchar(50) NOT NULL,
  `district_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`district_code`),
  UNIQUE KEY `district_name` (`district_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `district_table`
--

LOCK TABLES `district_table` WRITE;
/*!40000 ALTER TABLE `district_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `district_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hud_block_master`
--

DROP TABLE IF EXISTS `hud_block_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hud_block_master` (
  `block_id` varchar(100) NOT NULL,
  `block_name` varchar(255) NOT NULL,
  `hud_id` varchar(100) NOT NULL,
  `hud_name` varchar(255) NOT NULL,
  PRIMARY KEY (`block_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hud_block_master`
--

LOCK TABLES `hud_block_master` WRITE;
/*!40000 ALTER TABLE `hud_block_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `hud_block_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hud_master`
--

DROP TABLE IF EXISTS `hud_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hud_master` (
  `hud_id` varchar(100) NOT NULL,
  `hud_name` varchar(255) NOT NULL,
  PRIMARY KEY (`hud_id`),
  UNIQUE KEY `hud_name` (`hud_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hud_master`
--

LOCK TABLES `hud_master` WRITE;
/*!40000 ALTER TABLE `hud_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `hud_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hud_master_users`
--

DROP TABLE IF EXISTS `hud_master_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hud_master_users` (
  `user_id` varchar(100) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `hud_id` varchar(100) NOT NULL,
  `hud_name` varchar(255) NOT NULL,
  `role` varchar(50) DEFAULT 'hud_user',
  `module` varchar(50) DEFAULT 'chlorination',
  `status` varchar(50) DEFAULT 'Active',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hud_master_users`
--

LOCK TABLES `hud_master_users` WRITE;
/*!40000 ALTER TABLE `hud_master_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `hud_master_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hud_village_master`
--

DROP TABLE IF EXISTS `hud_village_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hud_village_master` (
  `hud_id` varchar(100) DEFAULT NULL,
  `hud_name` varchar(255) DEFAULT NULL,
  `block_id` varchar(100) DEFAULT NULL,
  `block_name` varchar(255) DEFAULT NULL,
  `village_id` varchar(100) NOT NULL,
  `village_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`village_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hud_village_master`
--

LOCK TABLES `hud_village_master` WRITE;
/*!40000 ALTER TABLE `hud_village_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `hud_village_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inspection_plan_status`
--

DROP TABLE IF EXISTS `inspection_plan_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inspection_plan_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(100) NOT NULL,
  `location_name` varchar(255) NOT NULL,
  `district_name` varchar(255) DEFAULT NULL,
  `hub_id` varchar(100) NOT NULL,
  `accepted` tinyint(1) NOT NULL,
  `reason` text DEFAULT NULL,
  `timestamp` datetime NOT NULL,
  `visited` text DEFAULT NULL,
  `username` varchar(255) NOT NULL,
  `hub_name` varchar(255) NOT NULL,
  `flag` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inspection_plan_status`
--

LOCK TABLES `inspection_plan_status` WRITE;
/*!40000 ALTER TABLE `inspection_plan_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `inspection_plan_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mos_mun_master_table`
--

DROP TABLE IF EXISTS `mos_mun_master_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mos_mun_master_table` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `district_name` varchar(255) NOT NULL,
  `corporation_name` varchar(255) NOT NULL,
  `corporation_code` varchar(100) DEFAULT NULL,
  `municipality_name` varchar(255) NOT NULL,
  `module` varchar(50) NOT NULL DEFAULT 'mosquito',
  `municipality_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mos_mun_master_table`
--

LOCK TABLES `mos_mun_master_table` WRITE;
/*!40000 ALTER TABLE `mos_mun_master_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `mos_mun_master_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mos_mun_master_users`
--

DROP TABLE IF EXISTS `mos_mun_master_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mos_mun_master_users` (
  `user_id` varchar(100) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `corporation_name` varchar(255) DEFAULT NULL,
  `corporation_code` varchar(100) DEFAULT NULL,
  `district_name` varchar(255) DEFAULT NULL,
  `municipality_name` varchar(255) DEFAULT NULL,
  `municipality_id` varchar(100) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `module` varchar(50) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mos_mun_master_users`
--

LOCK TABLES `mos_mun_master_users` WRITE;
/*!40000 ALTER TABLE `mos_mun_master_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `mos_mun_master_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mosquito_block_datacollector`
--

DROP TABLE IF EXISTS `mosquito_block_datacollector`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mosquito_block_datacollector` (
  `user_id` varchar(100) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `district_id` varchar(100) NOT NULL,
  `district_name` varchar(255) DEFAULT NULL,
  `block_id` varchar(100) NOT NULL,
  `block_name` varchar(255) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'Active',
  `module` varchar(50) DEFAULT 'mosquito',
  `role` varchar(50) DEFAULT 'data_collector',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mosquito_block_datacollector`
--

LOCK TABLES `mosquito_block_datacollector` WRITE;
/*!40000 ALTER TABLE `mosquito_block_datacollector` DISABLE KEYS */;
/*!40000 ALTER TABLE `mosquito_block_datacollector` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mosquito_block_users`
--

DROP TABLE IF EXISTS `mosquito_block_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mosquito_block_users` (
  `user_id` varchar(100) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `district_code` varchar(20) DEFAULT NULL,
  `district_name` varchar(255) DEFAULT NULL,
  `block_id` varchar(100) NOT NULL,
  `block_name` varchar(255) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'Active',
  `module` varchar(50) DEFAULT 'mosquito',
  `role` varchar(50) DEFAULT 'block_user',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mosquito_block_users`
--

LOCK TABLES `mosquito_block_users` WRITE;
/*!40000 ALTER TABLE `mosquito_block_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `mosquito_block_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mosquito_blocks_master`
--

DROP TABLE IF EXISTS `mosquito_blocks_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mosquito_blocks_master` (
  `block_id` varchar(100) NOT NULL,
  `block_name` varchar(255) NOT NULL,
  `district_code` varchar(20) NOT NULL,
  `district_name` varchar(255) NOT NULL,
  PRIMARY KEY (`block_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mosquito_blocks_master`
--

LOCK TABLES `mosquito_blocks_master` WRITE;
/*!40000 ALTER TABLE `mosquito_blocks_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `mosquito_blocks_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mosquito_district_master`
--

DROP TABLE IF EXISTS `mosquito_district_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mosquito_district_master` (
  `district_code` varchar(50) NOT NULL,
  `district_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`district_code`),
  UNIQUE KEY `district_name` (`district_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mosquito_district_master`
--

LOCK TABLES `mosquito_district_master` WRITE;
/*!40000 ALTER TABLE `mosquito_district_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `mosquito_district_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `village_users`
--

DROP TABLE IF EXISTS `village_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `village_users` (
  `user_id` varchar(100) NOT NULL,
  `username` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `hashedPassword` varchar(255) NOT NULL,
  `block_id` varchar(100) NOT NULL,
  `block_name` varchar(255) NOT NULL,
  `village_id` varchar(100) NOT NULL,
  `village_name` varchar(255) NOT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `role` varchar(50) DEFAULT 'data_collector',
  `module` varchar(50) DEFAULT 'chlorination',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `village_users`
--

LOCK TABLES `village_users` WRITE;
/*!40000 ALTER TABLE `village_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `village_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `village_water_sample_plan`
--

DROP TABLE IF EXISTS `village_water_sample_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `village_water_sample_plan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `district` varchar(255) NOT NULL,
  `hud_id` varchar(100) NOT NULL,
  `hud_name` varchar(255) NOT NULL,
  `block_id` varchar(100) NOT NULL,
  `block_name` varchar(255) NOT NULL,
  `village_id` varchar(100) NOT NULL,
  `village_name` varchar(255) NOT NULL,
  `month` varchar(50) NOT NULL,
  `samples` int(11) DEFAULT NULL,
  `date` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `village_water_sample_plan`
--

LOCK TABLES `village_water_sample_plan` WRITE;
/*!40000 ALTER TABLE `village_water_sample_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `village_water_sample_plan` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-08 14:47:10
INSERT INTO `admin_users` (`user_id`, `email`, `username`, `password`, `role`, `module`, `hub_id`, `status`, `district_name`, `block_name`) 
VALUES ('MOSADMIN001', 'mosadmin@example.com', 'mosadmin@example.com', '$2b$10$qX/llQt2WZOp4tuMwQnM1ePnrEiZeuiw1x3RDqKs32t4oUenFJg7G', 'mos_admin', 'mosquito', NULL, 'active', NULL, NULL);







INSERT INTO chlorination_hubs (hub_id, hub_name, latitude, longitude) VALUES
('HUB001', 'Chennai', 13.0142448, 80.21475),
('HUB002', 'Coimbatore', 11.0450855, 76.954573),
('HUB003', 'Tiruchirapalli', 10.7934649, 78.6984432),
('HUB004', 'Tirunelveli', 8.1723278, 77.3828864);

INSERT INTO hud_master (hud_id, hud_name, hub_id) VALUES
('HUDCHEN002', 'Chennai', 'HUB001'),
('HUDCUDD003', 'Cuddalore', 'HUB001'),
('HUDPOON004', 'Poonamallee', 'HUB001'),
('HUDKANC005', 'Kancheepuram', 'HUB001'),
('HUDTHIR006', 'Thiruvallur', 'HUB001'),
('HUDTHIR007', 'Thirupathur', 'HUB001'),
('HUDCHEN001', 'Chengalpattu', 'HUB001');





INSERT INTO chlorination_govt_holiday (holiday_name, date) VALUES
  ('Vinayakar Chathurthi', '2025-08-27'),
  ('Krishna Jayanthi', '2025-08-16'),
  ('Independence Day', '2025-08-15'),
  ('Milad-un-Nabi', '2025-09-05'),
  ('Deepavali', '2025-10-20');

  




INSERT INTO `hud_master_users` (`user_id`, `username`, `password`, `email`, `phone_number`, `hud_id`, `hud_name`, `role`, `module`, `status`) VALUES
('HUDKANC005USR001', 'Dr.T.R.Senthil', '$2b$10$PVXJC6QTze9gdmXmvy4Qmew29pSKJqMk5EIjq46L.8t3VzZYiU8jq', 'dphkpm@nic.in', '7358122438', 'HUDKANC005', 'Kancheepuram', 'hud_user', 'chlorination', 'Active'),
('HUDTHIR006USR001', 'Dr.P.Priyaraj', '$2b$10$yFyJTsk6l2buCHdE.OYR.O6llIyeIyHEchkTXNH2MARF60dv7E9tS', 'dphtlr@nic.in', '7358122753', 'HUDTHIR006', 'Thiruvallur', 'hud_user', 'chlorination', 'Active');




